@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;

}

.header-menu li {
    background-color: #FCBA3C;
    border-radius: .714rem .714rem 0 0;
    height: calc(2 * 0.857rem + 2 * 0.5rem);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0 1em;
    min-width: 10ch;
    margin-right: 1px;
    color: #fff;
    font-weight: 500;
}

.header-menu li a {
    color: white;
    text-decoration: none;
    white-space: normal;
    display: block;
    text-align: center;
}

.header-menu li.current {
    background-color: #06c;
}
.square-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-checkbox:checked::before {
    content: '';
    width: 75%;
    height: 75%;
    background-color: #007bff;
    border-radius: 0;
}

/*screen width*/

.max-w-custom {
    max-width: 1000px;
}


@media (min-width: 1160px) and (max-width: 1320px) {
    .max-w-custom {
        max-width: 1000px;
    }
}

@media(min-width: 320px) and (max-width: 600px){
    .logo-details{
        width: 400px;

    }
    .sub-logo-details{
        width: 20px;

    }
    .overall-margin-left{
        margin-left:8px;

    }
    .search-section{
        width: 205px;
        height: 120px;
    }
    .grid-columns{
        grid-column: 1;
        grid: inherit;
    }

    .grid-cols-2-custom {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
